tr:nth-child(even){background-color:#eecbcb}
tr:hover{background-color:#e7b9b9;
}


a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: #black;
}

.container {
  background-color: #F7EDE2;
  display: flex;
  flex-wrap: wrap;
}

.item_link {
  font-color: #black; 
  background-color: #D2C1B3;
  color: #E7D7CB;
  border: 3px solid;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 50px;

}
.item_link:hover {
    background-color: #BBADA1;
    color:  #D2C1B3;
}
.colorRed {
  background-color: #BBADA1;
  width: 100%;
 
}

.colorBlue {
  background-color: #AA9D94;
  width: 20%;
}

.colorGreen {
  background-color:#F7EDE2;
  width: 70%;
}
.href {
  color: #000000;
} 
body
{
  background-color:  lightgray;
}
table, th, td 
{
  border: 1px solid green;
}
table 
{
  width: 20%;
}
table
{
  border-collapse: collapse;
}
td 
{
  text-align: center;
}
th 
{
  background-color: rgb(253, 245, 175);
  color: rgb(73, 72, 72);
}
.nav
{
    background:rgb(218, 211, 125);
}
.nav_link
{
  color:red
}
 
