

*{
  margin :0;
  padding: 0;
}
body
{
  background-color:  lightgray;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
table, th, td {
  
  border-collapse: collapse;
}
table{
  border-collapse: collapse;
  justify-content: center;
  display: flex;
}
li{
  text-align: center;
  color:240, 198, 60;
}
th, td{
  padding: 15px;
  text-align: center;
  font-size: 1em;
  border: 1px solid black;
}
.nav
{
    background:rgb(218, 211, 125);
    position :fixed; 
    height: 100%; 
    width: 250px;
}
.nav_link
{
  color:red;
  width :100%;
  height: 40px;

  border-bottom:1px solid grey;

  padding-left: 40px;
  cursor: pointer;
  display:flex;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}
/*
.sidebar{
  height: 100%;
  width: 250px;
  position:fixed; 
  left: -250px;
  background-color: rgb(245, 214, 157);
  overflow-x: hidden;
   opacity: 0.8; 
  border: solid 2px rgb(29, 161, 73);
  transition: 0.6s;
}
*/
.con{
  height :100vh;
  width :100vw;
}