
} 
body
{
  background-color:  lightgray;
}
table, th, td 
{
  border: 1px solid green;
}
table 
{
  width: 20%;
}
table
{
  border-collapse: collapse;
}
td 
{
  text-align: center;
}
th 
{
  background-color: rgb(253, 245, 175);
  color: rgb(73, 72, 72);
}
.nav
{
    background:rgb(218, 211, 125);
}
.nav_link
{
  color:red
}
 
