body
{
  background-color: rgb(103, 255, 149);
}
table, th, td 
{
  border: 1px solid rgb(64, 185, 201);
}
table 
{
  width: 20%;
}
table
{
  border-collapse: collapse;
}
td 
{
  text-align: center;
}
th 
{
  background-color: red;
  color: white;
}
.nav
{
    background:lightgreen;
}
.nav_link
{
  color:red
}
 
